<p>Get schedule for:</p>
<ul>
    <%= for hostname <- @host_list do %>
        <li>
            <%= link hostname, to: Routes.schedule_path(@conn, :upcoming_list, hostname), method: :get%>
        </li>
    <% end %>
</ul>